
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>Search for mobile phones in www.1a.lv</p>
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <div class="form-group">

                <div class="col-md-10">
                    <p>@Html.TextBox("searchString")</p>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <p><input type="submit" value="Search" class="btn btn-default" /></p>
                </div>
            </div>

        }
    </div>
</body>
</html>
