@model onelv_parser.Models.SearchString

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/"></script>
   
</head>
<body>

    


    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()



        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2"><strong>Search for mobile phones in www.1a.lv and www.220.lv.</strong></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.searchString)
                @Html.ValidationMessageFor(model => model.searchString)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Search" class="btn btn-success" id="submit" />
            </div>
        </div>


        <div class="form-group">

            <label class="control-label col-md-2" id="msg2" style="display:none"></label>

        </div>

    }


</body>
</html>



